<div>
    <a href="/api/taadd/">Taadd</a>
</div>
<div>
    <div id="update" style="cursor:pointer;border:1px solid #000;padding: 5px 10px; display:inline-block;">
        Check all mangas for updates
    </div>
</div>
<% for (let index = 0; index < mangas.length; index++) { %>
    <a href="read.au3?manga=<%=mangas[index].id%>"><%=tmpl('poster', {image: '/data/'+mangas[index].pathId+'/'+mangas[index].poster})%></a>
<% } %>
