<div class="card">
    <a href="<%=link%>"><div class="image" style="background-image: url('<%=image%>');"></div></a>
    <a href="<%=link%>"><div class="title"><%=title%></div></a>
    <a href="<%=link%>"><div class="title secondary"><%=title2%></div></a>
</div>
